<section id="store-description" class="store-description">
  <h2 class="store-description__title">Описание магазина</h2>
  <p class="store-description__text">Мы предлагаем разнообразные модели автомобилей от эконома до премиум класса.</p>
</section>

{{> slider}}
{{> news_}}
{{> table}}

