<footer class="footer">
  <section id="contacts">
    <h3>Контакты</h3>
    <p>Адрес: ул. Бассейн</p>
    <p>Телефон: +7 (123) 456-78-90</p>
    <p>Email: Porsche@google.com</p>
    <p>&copy; 2025 Porsche</p>
  </section>

</footer>
